{% extends 'base.html'%}
{% block home%} Home Page {% endblock %}
{% block content %}
<div style="align-items: center">
    <form method="post">
        <h3 style="text-align: center">NOTES</h3>
        <textarea name="note" id="note" class="form-control"></textarea>
        <br>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
</div>
<br>
<div style="align-items: center">
    <h3>Your notes</h3>
    <ul class="list-group list-group-flush" id="notes">
        {% for note in user.notes %}
            <li class="list-group-item">{{ note.data }}
                <button type="button" class="close" onClick="deleteNote( {{ note.id }} )">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}